# WEEK 1 ASSINGMENT

Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a= 'bharath'
a                      # a is a variable that holds string data.

'bharath'

In [2]:
b=[1,3,'apple','pwskills']
b                      # b is a variable that holds list.

[1, 3, 'apple', 'pwskills']

In [3]:
c=3.44
c                      # c is a variable that holds float data.

3.44

In [4]:
d=(2,3,4,6,10)
d                      # d is a variable that holds tuple.

(2, 3, 4, 6, 10)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable

solution:
   1. The Data type of var1 is string.
   
   
   2. The Data type of var2 is string.
   

   3. The Data type of var3 is list.
   
   
   4. The Data type of var4 is float.

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

Solution:

1. /   division operator.
  
This is an Arthimetic operator used for division operation.

Divides the value on the left by the one on the right. Notice that division results in a floating-point value.

examples :

In [12]:
40/2

20.0

In [13]:
57/2

28.5

2. % mode operator

This is an Arthimetic operator used for getting the remainder of a number.

Divides and returns the value of the remainder.

examples:

In [15]:
70%4

2

In [16]:
35%6

5

3. //   float division operator

This is an Arthimetic operator used for dividing a number and returning the integer part of it.

Divides and returns the integer value of the quotient. It removes the digits after the decimal.

examples:

In [18]:
42//6

7

In [20]:
22//6

3

4. **  Exponential operator or power operator.

This is an Arthimetic operator,it Raises the first number to the power of the second.

examples:

In [21]:
2**2

4

In [22]:
3**6

729

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

solution:

In [29]:
#creating a list of 10 different datatypes
a=[1,3.4,'pwskills',[1,2],(4,5),2+3j,{"name": "Bharath M", "age": 19},{1,2},range(10),True]
a

[1,
 3.4,
 'pwskills',
 [1, 2],
 (4, 5),
 (2+3j),
 {'name': 'Bharath M', 'age': 19},
 {1, 2},
 range(0, 10),
 True]

In [35]:
#making use of for loop to display.
for i in a:
    print('Value is ',i)
    print('data type is ',type(i))

Value is  1
data type is  <class 'int'>
Value is  3.4
data type is  <class 'float'>
Value is  pwskills
data type is  <class 'str'>
Value is  [1, 2]
data type is  <class 'list'>
Value is  (4, 5)
data type is  <class 'tuple'>
Value is  (2+3j)
data type is  <class 'complex'>
Value is  {'name': 'Bharath M', 'age': 19}
data type is  <class 'dict'>
Value is  {1, 2}
data type is  <class 'set'>
Value is  range(0, 10)
data type is  <class 'range'>
Value is  True
data type is  <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

solution:

In [2]:
# Taking input values for A and B
A = int(input("Enter a value for A: "))
B = int(input("Enter a value for B: "))

# Initializing count to zero
count = 0

# Using a while loop to check if A is divisible by B
while A % B == 0:
    A = A / B
    count += 1

# Check if count is greater than zero
if count > 0:
    print("A is divisible by B ",count, " times.")
else:
    print("A is not divisible by B.")

Enter a value for A: 20
Enter a value for B: 2
A is divisible by B  2  times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

solution:

In [6]:
# Creating a list of 25 integers
listpw = [21,32,45,18,72,93,99,54,64,33,22,21,76,71,92,87,33,67,32,47,57,63,75,78,89]

# Checking if each element in the list is divisible by 3 or not using a for loop
for i in listpw:
    if i % 3 == 0:
        print(i,"  is divisible by 3")
    else:
        print(i,"  is not divisible by 3")

21   is divisible by 3
32   is not divisible by 3
45   is divisible by 3
18   is divisible by 3
72   is divisible by 3
93   is divisible by 3
99   is divisible by 3
54   is divisible by 3
64   is not divisible by 3
33   is divisible by 3
22   is not divisible by 3
21   is divisible by 3
76   is not divisible by 3
71   is not divisible by 3
92   is not divisible by 3
87   is divisible by 3
33   is divisible by 3
67   is not divisible by 3
32   is not divisible by 3
47   is not divisible by 3
57   is divisible by 3
63   is divisible by 3
75   is divisible by 3
78   is divisible by 3
89   is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

solution:

1. Mutable datatypes.
Mutable data types in Python can be defined as the datatypes that can be changed or modified. 

Mutable means the ability to modify or edit a value.

2. Immutable datatypes.
Immutable data types in Python can be defined as the data types that cannot be changed or modified over time. 

These dataypes become permanent once created and initialized.

examples for mutable data types are :
    list,dictionaries,sets etc..,

In [8]:
a=[1,2,3]
a

[1, 2, 3]

In [9]:
a[0]= 1000

In [10]:
a

[1000, 2, 3]

In the above example we can see that the list data as been modified.

examples for immutable data types are : tuples,strings etc..,

In [11]:
tup=(1,2,3)
tup

(1, 2, 3)

In [13]:
tup(1)=23

SyntaxError: cannot assign to function call (781116659.py, line 1)

In the above example we can see that the data of the tuple is not getting modified.

Therefore from the above properties of the codes,we can say that the mutable datatypes are the one which can be modified.
immutable cannot be modified.

# -----------------------------End-----------------------------