# FEATURE ENGINEERING 3 BY BHARATH

# QUESTIONS:

Q1. What is data encoding? How is it useful in data science?

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding 
technique would you use to transform this data into a format suitable for machine learning algorithms? 
Explain why you made this choice.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns 
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to 
transform the categorical data, how many new columns would be created? Show your calculations.

Q6. You are working with a dataset containing information about different types of animals, including their 
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into 
a format suitable for machine learning algorithms? Justify your answer.

Q7.You are working on a project that involves predicting customer churn for a telecommunications 
company. You have a dataset with 5 features, including the customer's gender, age, contract type, 
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical 
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding

# SOLUTIONS:

Q1: **Data Encoding and its Use in Data Science**:

Data encoding is the process of converting categorical or textual data into numerical representations that can be used by machine learning algorithms. It is useful in data science because many machine learning algorithms require numerical input data. Encoding categorical data allows algorithms to work effectively with diverse types of data, enabling accurate predictions and analyses.

Q2: **Nominal Encoding**:

Nominal encoding assigns a unique integer to each category without any specific order or ranking among them. It is useful when categories have no inherent order or when the algorithm doesn't assume any relationship between categories.

Example:
Suppose you have a dataset of movie genres: [Action, Romance, Comedy, Sci-Fi]. Nominal encoding could map these genres to integers: Action (0), Romance (1), Comedy (2), Sci-Fi (3).

Q3: **When Nominal Encoding is Preferred Over One-Hot Encoding**:

Nominal encoding is preferred when:
- Categories have no meaningful order or ranking.
- The number of unique categories is relatively large.
- The algorithm can handle ordinal relationships between categories.

Practical Example:
In a dataset of car colors, where colors have no inherent order (e.g., Red, Blue, Green, Yellow), nominal encoding could be used to represent each color with a unique integer.

Q4: **Encoding Technique for Categorical Data with 5 Unique Values**:

For a small number of unique values, nominal encoding can be used, as it assigns a unique integer to each category. This approach maintains the information while reducing dimensionality compared to one-hot encoding, which could be less efficient for a small number of categories.

Q5: **Calculating New Columns for Nominal Encoding**:

If you use nominal encoding to transform two categorical columns in a dataset with 1000 rows, you would create one new column for each categorical column. Each new column contains unique integers representing the categories.

Q6: **Encoding for Animal Dataset**:

For the animal dataset, you could use nominal encoding if the categorical features, such as species, habitat, and diet, do not have a specific order or ranking. This would allow you to represent each category with a unique integer.

Q7: **Encoding Categorical Data for Customer Churn Prediction**:

For the given dataset with 5 features, you could use the following encoding techniques:
1. **Nominal Encoding**:
   - Apply nominal encoding to gender and contract type columns since they have no inherent order.
   - For gender: Male (0), Female (1)
   - For contract type: Month-to-Month (0), One Year (1), Two Year (2)
2. **Leave Numerical Columns Unchanged**:
   - Monthly charges and tenure are numerical and can be used as they are.

After encoding, your dataset would have the transformed gender and contract type columns, ready for use in machine learning algorithms.