#  PANDAS ADVANCE 2 ASSIGNMENT

Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

**Q1. Write a code to print the data present in the second row of the dataframe, df.**

Solution:

In [3]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

**Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?**

Solution:

The functions loc and iloc in pandas.DataFrame are used for indexing and selecting data from a DataFrame, but they differ in the way they reference the data.

loc is primarily label-based indexing, meaning that you use the row and column labels to select data. It is used to access data based on the explicit index labels. When using loc, both the start and stop indices are inclusive.

iloc is primarily integer-based indexing, meaning that you use integer positions to select data. It is used to access data based on the integer position of the rows and columns. When using iloc, the start index is inclusive, but the stop index is exclusive.

Here's an example to illustrate the difference between loc and iloc:

In [5]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['x', 'y', 'z'])

# Using loc
print(df.loc['x'])  # Access row with label 'x'
print(df.loc[['x', 'y'], 'A'])  # Access specific rows and column 'A'

# Using iloc
print(df.iloc[0])  # Access row at integer position 0
print(df.iloc[[0, 1], 1])  # Access specific rows and column at integer position 1

A    1
B    4
Name: x, dtype: int64
x    1
y    2
Name: A, dtype: int64
A    1
B    4
Name: x, dtype: int64
x    4
y    5
Name: B, dtype: int64

In the above example, when using loc, we access rows and columns using their label names ('x', 'y', 'A'). Whereas, when using iloc, we access rows and columns using their integer positions (0, 1).

To summarize, loc is used for label-based indexing (using explicit labels), while iloc is used for integer-based indexing (using integer positions).

**Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.**

Solution:

In [6]:
import pandas as pd

# Given DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})

# Reindexing
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Accessing data using loc and iloc
print(new_df.loc[2])
print(new_df.iloc[2])

A    3
B    7
Name: 2, dtype: int64
A    2
B    6
Name: 1, dtype: int64

In the output, you can observe a difference between new_df.loc[2] and new_df.iloc[2]:

new_df.loc[2] returns the row with label/index 2 from the new_df DataFrame. In this case, it returns the values [3, 7] from the row that was originally at index 1 in the original DataFrame df. This is because reindex reordered the rows based on the provided list [3, 0, 1, 2].

new_df.iloc[2] returns the row at the integer position 2 from the new_df DataFrame. In this case, it returns the values [2, 6] from the row that was originally at index 2 in the original DataFrame df. This is because iloc accesses rows based on their integer positions, regardless of any reindexing.

Therefore, the outputs of new_df.loc[2] and new_df.iloc[2] are different because they access the data based on different indexing methods: loc uses label-based indexing, while iloc uses integer-based indexing.

# Consider the below code to answer further questions:

import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

**Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’**

Solution:

In [7]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each column
mean_values = df1.mean()
print("Mean of each column:")
print(mean_values)

# (ii) Standard deviation of column 'column_2'
std_dev_column_2 = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(std_dev_column_2)

Mean of each column:
column_1    0.593369
column_2    0.567105
column_3    0.588173
column_4    0.580635
column_5    0.495328
column_6    0.283351
dtype: float64

Standard deviation of 'column_2':
0.22630089357738656

**Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]**

Solution:

In [9]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replacing data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_data'

# Calculating the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of 'column_2':", mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This error occurs because the 'column_2' contains a mix of numeric and string data types, and the mean function (mean()) cannot perform numerical calculations when encountering non-numeric values.

To avoid this error, it's recommended to ensure that the data types in a column are consistent for numerical calculations. If you need to work with both numeric and string values, it's better to keep them separate in different columns.

**Q6. What do you understand about the windows function in pandas and list the types of windows
functions?**

Solution:

In pandas, the window functions are used for performing calculations on a specified window or range of values within a DataFrame or Series. These functions allow you to apply operations to subsets of data defined by a window size or other conditions.

The window functions in pandas can be broadly categorized into three types:

1. Rolling Windows: Rolling windows operate on a fixed-size sliding window of values. They can perform calculations such as rolling mean, rolling sum, rolling standard deviation, etc. The window size can be defined by a specified number of rows or a time-based window.

2. Expanding Windows: Expanding windows include all the previous values from the beginning of the data up to the current position. These functions calculate cumulative statistics such as expanding sum, expanding mean, etc. They consider the entire history of the data.

3. Exponential Weighted Windows: Exponential weighted windows assign weights to each value in the window based on their position and calculate a weighted average. The weights are exponentially decreasing as you move further away from the current value. Exponential weighted functions include exponential moving average, exponential moving sum, etc.

Here are some commonly used window functions in pandas:

- `rolling()`: Creates a rolling window object for performing rolling window calculations.
- `expanding()`: Creates an expanding window object for performing expanding window calculations.
- `ewm()`: Calculates exponential weighted statistics for a window of values.

These functions provide flexibility in performing various calculations on different windows of data within a DataFrame or Series, enabling time-based or size-based analysis and smoothing of data.

**Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]**

Solution:

In [10]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

# Create a pandas datetime object
pandas_datetime = pd.to_datetime(f'{current_year}-{current_month}-01')

# Print the current month and year
print("Current Month:", pandas_datetime.strftime("%B"))
print("Current Year:", pandas_datetime.strftime("%Y"))

Current Month: July
Current Year: 2023

**Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.**

Solution:

In [11]:
import pandas as pd

# Prompt the user to enter the first date
date1 = input("Enter the first date (YYYY-MM-DD): ")

# Prompt the user to enter the second date
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference using pandas timedelta
time_diff = date2 - date1

# Extract the difference in days, hours, and minutes
diff_days = time_diff.days
diff_hours = time_diff.seconds // 3600
diff_minutes = (time_diff.seconds // 60) % 60

# Display the result
print("Time difference: {} days, {} hours, {} minutes".format(diff_days, diff_hours, diff_minutes))

Enter the first date (YYYY-MM-DD): 2003-07-12
Enter the second date (YYYY-MM-DD): 2023-07-02
Time difference: 7295 days, 0 hours, 0 minutes

**Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.**

Solution:

In [1]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Convert the specified column to categorical data type
df[column_name] = df[column_name].astype('category')

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(",")

# Set the category order of the column
df[column_name] = df[column_name].cat.set_categories(category_order)

# Sort the data based on the specified column
df = df.sort_values(by=column_name)

# Display the sorted data
print(df)

Enter the file path of the CSV file: C:\Users\Bharath\Downloads\taxonomy.csv.xls
Enter the column name: name
Enter the category order (comma-separated): 101,102,103
    taxonomy_id name parent_id           parent_name
0           101  NaN       NaN                   NaN
1        101-01  NaN       101             Emergency
2        101-02  NaN       101             Emergency
3     101-02-01  NaN    101-02        Emergency Cash
4     101-02-02  NaN    101-02        Emergency Cash
..          ...  ...       ...                   ...
285   111-01-07  NaN    111-01  Advocacy & Legal Aid
286      111-02  NaN       111                 Legal
287      111-03  NaN       111                 Legal
288      111-04  NaN       111                 Legal
289      111-05  NaN       111                 Legal

[290 rows x 4 columns]

**Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.**

Solution:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a DataFrame
df = pd.read_excel(file_path)

# Group the data by 'Date' and 'Product Name' and calculate the total sales
grouped_data = df.groupby(['Date', 'Product Name']).sum().reset_index()

# Pivot the data to have 'Date' as the index, 'Product Name' as columns, and 'Sales' as values
pivot_data = grouped_data.pivot(index='Date', columns='Product Name', values='Sales').fillna(0)

# Plot the stacked bar chart
pivot_data.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set the chart title and labels
plt.title('Sales of Each Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()

**Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.**

In [1]:

import pandas as pd
from tabulate import tabulate

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Display the results in a table
table = [["Mean", mean_score],
         ["Median", median_score],
         ["Mode", ', '.join(map(str, mode_scores))]]

print(tabulate(table, headers=["Statistic", "Value"], tablefmt="grid"))

Enter the file path of the CSV file containing the student data: C:\Users\Bharath\Downloads\sample_data.csv
+-------------+---------+
| Statistic   |   Value |
+=============+=========+
| Mean        |    83.5 |
+-------------+---------+
| Median      |    85   |
+-------------+---------+
| Mode        |    85   |
+-------------+---------+

# ----------------------------------------------------------END-----------------------------------------------